<p style="color: green"><%= notice %></p>

<h1><%= t('title.mining_type') %></h1>

<div id="mining_types">
  <% @mining_types.each do |mining_type| %>
    <%= render mining_type %>
    <p>
      <%= link_to t('links.show_mining_type'), mining_type %>
    </p>
  <% end %>
</div>

<%= link_to t('links.new_mining_type'), new_mining_type_path %> |
<%= link_to t("links.back"), welcome_index_path %>
